AnaliseProjeto/gestaoAluguelBanco.mwb.bak
/.vs/*
/Codigo/GestaoAluguel/.vs/GestaoAluguel/config
/Codigo/GestaoAluguel/.vs/GestaoAluguel/CopilotIndices/17.14.995.13737
/Codigo/GestaoAluguel/.vs/GestaoAluguel/DesignTimeBuild
/Codigo/GestaoAluguel/.vs/GestaoAluguel/v17
/Codigo/GestaoAluguel/.vs/ProjectEvaluation
/Codigo/GestaoAluguel/.vs/GestaoAluguel/FileContentIndex
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.assets.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
