AnaliseProjeto/gestaoAluguelBanco.mwb.bak
/.vs/*
/Codigo/GestaoAluguel/.vs/GestaoAluguel/config
/Codigo/GestaoAluguel/.vs/GestaoAluguel/CopilotIndices/17.14.995.13737
/Codigo/GestaoAluguel/.vs/GestaoAluguel/DesignTimeBuild
/Codigo/GestaoAluguel/.vs/GestaoAluguel/v17
/Codigo/GestaoAluguel/.vs/ProjectEvaluation
/Codigo/GestaoAluguel/.vs/GestaoAluguel/FileContentIndex
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.GeneratedMSBuildEditorConfig.editorconfig
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.csproj.AssemblyReference.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.assets.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.AssemblyInfoInputs.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.AssemblyInfo.cs
/Codigo/GestaoAluguel/Service/bin/Debug/net8.0/Service.pdb
/Codigo/GestaoAluguel/Service/obj/Service.csproj.nuget.g.props
/Codigo/GestaoAluguel/Service/obj/project.nuget.cache
/Codigo/GestaoAluguel/Service/obj/Service.csproj.nuget.dgspec.json
/Codigo/GestaoAluguel/Service/obj/project.assets.json
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.sourcelink.json
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.pdb
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.dll
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/Service.csproj.CoreCompileInputs.cache
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/refint/Service.dll
/Codigo/GestaoAluguel/Service/obj/Debug/net8.0/ref/Service.dll
/Codigo/GestaoAluguel/Service/bin/Debug/net8.0/Service.dll
/Codigo/GestaoAluguel/Service/bin/Debug/net8.0/Core.pdb
/Codigo/GestaoAluguel/Service/bin/Debug/net8.0/Core.dll
/Codigo/GestaoAluguel/GestaoAluguelWebTests/bin/Debug/net8.0
/Codigo/GestaoAluguel/GestaoAluguelWebTests/obj
/Codigo/GestaoAluguel/.vs/GestaoAluguel/copilot-chat/7eb92b1a/sessions
