@page
@model Disable2faModel
@{
    ViewData["Title"] = "Desabilite a verificação em dois fatores (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Essa ação apenas desativa a verificação em dois fatores.</strong>
    </p>
    <p>
        Desabilitar 2FA não muda as chaves usadas nos aplicativos de verificação. Se você deseja mudar as chaves
        usadas em um aplicativo autenticador <a asp-page="./ResetAuthenticator">resete as chaves de seu autenticador.</a>
    </p>
</div>

<div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Desabilitar 2FA</button>
    </form>
</div>
